@charset "UTF-8";
div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, span {
  cursor: default; }

html {
  font-size: 16px; }

@font-face {
  font-family: Raleway-Bold;
  src: url(../UI/fonts/raleway/Raleway-Bold.ttf); }

@font-face {
  font-family: Lato-Semibold;
  src: url(../UI/fonts/lato/Lato-Semibold.ttf); }

.cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background: #222222 url("../img/store/bg_store_1.jpg") 0 0 no-repeat;
  background-size: cover;
  will-change: transform;
  -webkit-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear; }

.home {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 100vh;
  background-color: #222222;
  background: #222222 url("../img/home/home.jpg") 0 0 no-repeat;
  /* для width < 800 прописать @media, уменьшить шрифт */
  background-size: 100%;
  background-position: center;
  color: #ffffff; }
  .home .location-point {
    /* ДОБАВИТЬ ЛОГО */
    position: absolute;
    top: 12%;
    right: 15%;
    font-family: Lato-Semibold;
    padding-left: 20px; }
  .home .home-main {
    margin-left: 5%;
    margin-bottom: 5%; }
    .home .home-main h1 {
      font-family: Raleway-Bold;
      font-size: 7.5rem;
      line-height: 106px; }
    .home .home-main p {
      color: #aaaaaa;
      font-family: Lato-Semibold;
      font-size: 2rem; }

.territory {
  height: 100vh;
  background: #222222 url("../img/territory/scheme.png") 0 30% no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .territory .territory-main {
    margin-left: 5%;
    margin-top: 5%; }
    .territory .territory-main h2 {
      font-size: 5rem;
      line-height: 75px;
      font-family: Raleway-Bold;
      color: #ffffff; }
    .territory .territory-main p {
      font-family: Lato-Semibold;
      font-size: 1.5rem;
      line-height: 28px;
      color: #aaaaaa; }

.store {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.5); }
  .store .store-main {
    padding-top: 20%; }
    .store .store-main h2 {
      margin-bottom: 5%;
      font-size: 6.25rem;
      color: #ffffff;
      font-family: Raleway-Bold; }
    .store .store-main .store-item {
      width: 600px;
      margin-right: 100px;
      margin-bottom: 100px;
      text-align: left; }
      .store .store-main .store-item h3 {
        opacity: 1;
        font-family: Raleway-Bold;
        font-size: 3rem;
        color: #ffffff; }
      .store .store-main .store-item p {
        font-family: Lato-Semibold;
        line-height: 36px;
        font-size: 1.75rem;
        color: #cccccc; }

.logistic {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.5); }
  .logistic .logistic-main {
    padding-top: 20%;
    margin-left: 5%; }
    .logistic .logistic-main h2 {
      margin-bottom: 5%;
      font-size: 6.25rem;
      color: #ffffff;
      font-family: Raleway-Bold; }
    .logistic .logistic-main .logistic-item {
      width: 600px;
      margin-bottom: 100px;
      text-align: left; }
      .logistic .logistic-main .logistic-item h3 {
        font-family: Raleway-Bold;
        font-size: 3rem;
        color: #ffffff; }
      .logistic .logistic-main .logistic-item p {
        font-family: Lato-Semibold;
        line-height: 36px;
        font-size: 1.75rem;
        color: #cccccc; }

.contacts {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100vh;
  background-color: #222222; }
  .contacts .contacts-main {
    margin-left: 5%; }
    .contacts .contacts-main p {
      font-family: Lato-Semibold;
      font-size: 2.25rem;
      margin-bottom: 50px; }
    .contacts .contacts-main h2 {
      font-size: 7rem;
      font-family: Raleway-Bold;
      margin-bottom: 50px; }
    .contacts .contacts-main a {
      font-family: Lato-Semibold;
      font-size: 2.25rem;
      text-decoration: none;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 5px; }
