div, p, body, button, h1, h2, h3, h4,  img, hr, li, ul, span, section {
	margin: 0;
	padding: 0;
	transition: background 0.5s linear;
}
p, h1, h2, h3, span {
	cursor: default;
}
html {
	font-size: 16px;
}

@import "../UI/fonts/fonts";
@import "../UI/color/color";

@import "cover/cover";
@import "home/home";
@import "territory/territory";
@import "store/store";
@import "logistic/logistic";
@import "contacts/contacts";
