.territory {
	height: 100vh;
	background: $bgcolor url("../img/territory/scheme.png") 0 30% no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: flex-start;
	.territory-main {
		margin-left: 5%;
		margin-top: 5%;
		h2 {
			font-size: 5rem;
			line-height: 75px;
			font-family: Raleway-Bold;
			color: $white;
		}
		p {
			font-family: Lato-Semibold;
			font-size: 1.5rem;
			line-height: 28px;
			color: $greytext;
		}
	}
}