.home {
	display: flex;
	align-items: flex-end;
	height: 100vh;
	width: 100%;
	// background-color: $bgcolor;
	background: 0 0 no-repeat; /* для width < 800 прописать @media, уменьшить шрифт */
	background-size: 100%;
	// background: $bgcolor  url("../img/home/home.jpg")  0 0 no-repeat;
	color: $white;
	.location-point {   /* ДОБАВИТЬ ЛОГО */
		position: absolute;
		top: 12%;
		right: 15%;
		font-family: Lato-Semibold;
		padding-left: 20px; 
	}
	.home-main {
		margin-left: 5%;
		margin-bottom: 5%;
		h1 {
		font-family: Raleway-Bold;
		font-size: 7.5rem;
		line-height: 106px;
		}
		p {
			color: $greytext;
			font-family: Lato-Semibold;
			font-size: 2rem;
		}
	}
	
}