.contacts {
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	background-color: $bgcolor;
	.contacts-main {
		margin-left: 5%;
		p {
			font-family: Lato-Semibold;
			font-size: 2.25rem;
			margin-bottom: 50px;
		}
		h2 {
			font-size: 7rem;
			font-family: Raleway-Bold;
			margin-bottom: 50px;
		}
		a {
			font-family: Lato-Semibold;
			font-size: 2.25rem;
			text-decoration: none;
			color: $white;
			border-bottom: 1px solid $white;
			padding-bottom: 5px;
		}
	}
}