.logistic {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	transition: 1s;
	background-color: rgba(black, 0.5);
	.logistic-main {
		max-width: 800px;
		padding-top: 20%;
		margin-left: 5%;		
		h2 {
		margin-bottom: 5%;
		font-size: 6.25rem;
		color: $white;
		font-family: Raleway-Bold;
		}
		.logistic-item {
			width: 600px;
			margin-bottom: 100px;
			text-align: left;
			h3 {
				font-family: Raleway-Bold;
				font-size: 3rem;
				color: $white;
			}
			p {
				font-family: Lato-Semibold;
				line-height: 36px;
				font-size: 1.75rem;
				color: $store-text;
			}
		}
	}
}